/*
!/.gitignore
!/.gitattributes
!/README.md
!/be/
!/fe/

.env
local.properties
local.properties.bak
*.jks
*.keystore

.gradle/
build/
bin/
out/
.idea/
*.iml
.kotlin/
captures/
.DS_Store
build_log.txt

